.pokecard {
  width: 200px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 6px 4px 7px 0px rgba(0, 0, 0, 0.34);
}
